.module-style{
    width: 650px;
    height: 150px;
    margin: 150px 50px 150px 50px;
    background-color: aquamarine;
    border-radius: 7px;
}

.module-style:hover{

    background-color: aliceblue;
}

body{
    background-color: azure;
}

a{
    text-decoration: none;
}

