<table>
<tr>
  <td>
  <div class="module-style">
    <a routerLink="/studentmodule">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Student Module</h1>
          <p class="lead">View students</p>
        </div>
      </div>
    </a>
</div>
</td>
<td>
<div class="module-style">
  <a routerLink="/admin-courses">


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Course Module</h1>
          <p class="lead">Create new course, update course info, view courses</p>
        </div>
      </div>
    </a>
</div>
</td>
</tr>

</table>   

