.module-style{
    width: 650px;
    height: 150px;
    margin: 150px 50px 150px 50px;
    
    background-color:midnightblue;
    overflow: hidden;
    color:white;
    border-radius: 7px;
}

.module-style:hover{

    background-color: aliceblue;
}



a{
    text-decoration: none;
}

