<app-student-header></app-student-header>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8">
       <h3>View all enrolled courses</h3> 
       <div class="st_list">
        <table>
            <tr>
                <th>#Id</th><th>Name</th><th>Course description</th><th>Course Author</th>
            </tr>
            <tr *ngFor="let cs of courses; index as i">
                <td>{{cs.id}}</td><td>{{cs.courseName}}</td><td>{{cs.description}}</td><td>{{cs.author}}</td>
                <td><button class="btn btn-primary" (click)="removeCourse(cs.id)">Leave</button></td>
                <td><button class="btn btn-primary" (click)="viewCourseData(cs.id)">View</button></td>

            </tr>
        </table>
      <!--  <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" aria-label="Previous" (click)="getPaginationPrevious()">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" aria-label="Next" (click)="getPaginationNext()">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>-->
        </div>
    </div>
    <div class="col md-1"></div>
</div>